/* GOBAL */
* {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    list-style: none;
}

.container {
    padding: 80% auto;
}

.text-content {
    display: inline;
    font-family: "Bubblegum Sans", sans-serif;
}

.head-content {
    font-size: 28px;
    font-weight: 800;
    font-family: "Jost", sans-serif;
}

/* KNOWLEDGE */

.knowledge {
    background-color: #fff0e5;
    padding: 100px 0;
    position: relative;

}

.knowledge .knowledge-content .know-text {
    padding: 100px 0;
    align-items: center;
}

.knowledge .knowledge-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    
}

.knowledge .knowledge-content .know-img1{
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 100px;
}

.knowledge .knowledge-content .know-img2{
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 100px;
    margin-top: 100px;
    animation: swing 1.5s infinite;
}

.knowledge .knowledge-content .know-text p:first-of-type {
    color: #1CBBB4;
}

.knowledge .knowledge-content .know-text p:last-of-type {
    color: #686868;
    font-style: 16px;
    margin: 20px 0;
}

.knowledge .knowledge-content .know-text h2{
    margin-right: 30px;
}

.knowledge .knowledge-content .know-text .btn {
    padding: 15px 25px;
    border-radius: 50px;
    background-color: #ed145b;
    border: 2px solid #ed145b;
    transition: all 0.8s;
    font-size: 14px;
    align-items: center;
}

.knowledge .knowledge-content .know-text .btn:hover {
    background-color: #fff0e5;
    color: #ed145b;
    border: 2px solid #ed145b;
}

.knowledge .knowledge-content .know-item .age-item {
    display: flex;
    flex-direction: column;
    background-color: #1CBBB4;
    border-radius: 10px;
    color: white;
    justify-content: center;
    align-items: center;
}

.knowledge .knowledge-content .know-item {
    display: grid;
    grid-template-columns: repeat(6, 80px);
    grid-template-rows: repeat(12, 20px);
    gap: 30px;
}

.knowledge .knowledge-content .know-item .age-item p {
    font-weight: 800;
    font-size: 32px;
    margin: 0;
}

.knowledge .knowledge-content .know-item .item1 {
    background-color: #0a6375;
    grid-column: 1 / 4;
    grid-row: 3 / 8;
}

.knowledge .knowledge-content .know-item .item2 {
    background-color: #1cbbb4;
    grid-column: 4 / 6;
    grid-row: 1 / 5;
}

.knowledge .knowledge-content .know-item .item3 {
    background-color: #ed145b;
    grid-column: 4 / 6;
    grid-row: 5 / 9;
}

.knowledge .knowledge-content .know-item .item4 {
    background-color: #f7941e;
    grid-column: 4 / 2;
    grid-row: 8 / 12;
}

.knowledge .knowledge-content .know-item .item5 {
    background-color: #f7941e;
    grid-column: 6 / 11;
    grid-row: 5 / 9;
}

.knowledge .knowledge-content .know-item .item6 {
    background-color: #73be48;
    grid-column: 4 / 6;
    grid-row: 9 / 13;
}

/* CLIENT */

.client .client-content .client-text {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 30px 0;
    align-items: center;
}

.client .client-content .client-text .client-text-left p {
    color: #1CBBB4;
}

.client .client-content .client-text .client-text-right {
    color: #686868;
    font-size: 15px;
}

.client {
    padding: 40px 0;
}

.client .client-content .client-carousel {
    position: relative;
}


.client .client-content .client-carousel .client-slide {
    position: relative;
    display: block;
}

.client .client-content .client-carousel .client-slide>img {
    width: 70%;
    border-radius: 10px;
}

.client .client-content .client-carousel .client-slide .client-card {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}


.client .client-content .client-carousel .swiper {
    box-shadow:
        -3px 4px 53px -2px rgba(0, 0, 0, 0.1);
    width: 540px;
    border-radius: 10px;
    background-color: #ffffff;
}

.client .client-content .client-carousel .swiper .swiper-wrapper .swiper-slide .client-allinfo {
    padding: 60px;
}

.client .client-content .client-carousel .swiper .swiper-wrapper .swiper-slide .client-allinfo .client-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}


.client .client-content .client-carousel .swiper .swiper-wrapper .swiper-slide .client-allinfo .client-user .client-name {
    flex: 1;
    margin-left: 15px;
}

.client .client-content .client-carousel .swiper .swiper-wrapper .swiper-slide .client-allinfo .client-user .client-name p:first-of-type {
    color: black;
    font-weight: bold;
    margin: 0;
}

.client .client-content .client-carousel .swiper .swiper-wrapper .swiper-slide .client-allinfo .client-user .client-name p:last-of-type {
    color: #686868;
    font-size: 14px;
    margin: 0;
}

.client .client-content .client-carousel .swiper .swiper-wrapper .swiper-slide .client-allinfo .client-user .client-img img {
    width: 100%;
}

.client .client-content .client-carousel .swiper .swiper-wrapper .swiper-slide .client-allinfo p {
    color: #686868;
    font-size: 16px;
}






/* BLOG */

.blog {
    background-image: linear-gradient(to top, #ffffff 30%, #fff1e6 70%);
}

.blog .blog-content {}

.blog .blog-content .blog-text {
    padding: 60px 0;
}

.blog .blog-content .blog-item {
    display: flex;
    gap: 20px;
}

.blog .blog-content .blog-left .card-body span {
    font-size: 12px;
    color: #686868;
    margin-right: 30px;
}

.blog .blog-content .blog-right .card-body span {
    font-size: 12px;
    color: #686868;
    margin-right: 30px;
}


.blog .blog-content .blog-item .blog-left .card {
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow:
        0px 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.blog .blog-content .blog-item .blog-right .card {
    border-radius: 10px;
    border: none;
    padding-bottom: 10px;
    box-shadow:
        0px 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.blog .blog-content .blog-left .card-body a,
.blog .blog-content .blog-right .card-body a {
    font-family: "Jost", sans-serif;
    color: black;
    transition: all 0.5s;
}

.blog .blog-content .blog-left .card-body h4,
.blog .blog-content .blog-right .card-body h4 {
    padding: 35px 0px;
}

.blog .blog-content .blog-left .card-body a:hover,
.blog .blog-content .blog-right .card-body a:hover {
    color: #1CBBB4;
}

/* CONNECTED */

.connected {
    background-image: url(../img/bg-connected.png), linear-gradient(to bottom, #ffffff 30%, #d6edb0 100%);
    ;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 200px;

}

.connected .connected-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.connected .connected-content .connected-img {
    position: relative;
}

.connected .connected-content .connected-img .bg-student {
    width: 100%;
    height: auto;
    display: block;
    animation: swing 1.5s infinite;

}

.connected .connected-content .connected-img .student {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(50%);
    width: 65%;
    animation: swings 1.5s infinite;
}

@keyframes swing {
    0% {
        transform: translateX(-10%);
    }

    25% {
        transform: translateX(-10%);
    }

    75% {
        transform: translateX(-12%);
    }

    100% {
        transform: translateX(-10%);
    }
}

@keyframes swings {
    0% {
        transform: translateX(-70%);
    }

    25% {
        transform: translateX(-70%);
    }

    75% {
        transform: translateX(-72%);
    }

    100% {
        transform: translateX(-70%);
    }
}

.connected .connected-content .email-item {
    padding-top: 30px;
    position: relative;

}

.connected .connected-content .email-item input {
    padding: 20px 250px 20px 10px;
    border-radius: 5px;
    border: 1px solid;
}

.connected .connected-content .email-item .button {
    text-decoration: none;
    border-radius: 10px;
    padding: 15px 30px;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(35px);
    background-color: #F7941E;
    border: none;
    color: white;
    overflow: hidden;
    z-index: 1;
    display: inline-flex;
    align-items: center;
}

.connected-content .email-item .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #1CBBB4;
    transition: left 0.8s;
    z-index: -1;
}

.connected-content .email-item .button:hover::before {
    left: 0;
}

/* FOOTER */
footer {
    margin: 20px 0px;
}

.footer .footer-content .contact {
    display: flex;
    justify-content: space-between;

}

.footer .footer-content .footer-logo ul {
    display: flex;
    gap: 12px;
    padding: 0;
    margin: 0;
}

.footer .footer-content .footer-logo li a {
    width: 40px;
    height: 40px;
    background-color: #fdf0e8;
    border-radius: 8px;
    display: flex;
    font-size: 18px;
    text-decoration: none;
    transition: all 0.5s;
}

.footer .footer-content .footer-logo li a:hover {
    background-color: rgb(82, 182, 82);
}



.footer .footer-content .footer-page a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-size: 15px;
    margin-top: 10px;
    color: #686868;
    transition: all 0.5s;
    transform: translateX(0);
}

.footer .footer-content .footer-page a:hover {
    color: darkorange;
    transform: translateX(10px);
}

.footer .footer-content .footer-contact .contact-item {
    display: flex;
    color: #686868;
    font-size: 15px;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.footer .footer-content .footer-contact i {
    font-size: 35px;
    color: rgba(151, 151, 151, 0.37);
}

footer .footer-info {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

footer .footer-info .content1 {
    color: #686868;
    font-size: 15px;
}

footer .footer-info .content2 span {
    margin-left: 20px;
    color: black;
    font-size: 15px;
}

/* JS ANIMATION */

.fade-up {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 3s ease, transform 3s ease;
}


.fade-up.show {
    opacity: 1;
    transform: translateY(0);
}


.fade-left {
    opacity: 0;
    transform: translateX(-50px);
    transition: all 3s ease;
}

.fade-left.show {
    opacity: 1;
    transform: translateX(0);
}


.fade-right {
    opacity: 0;
    transform: translateX(50px);
    transition: all 3s ease;
}

.fade-right.show {
    opacity: 1;
    transform: translateX(0);
}